.header {
    background: #1F2937;
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.header-links
a{
    text-decoration: none;
}

ul {
    display: flex;
    list-style-type: none;
    list-style: none;
    gap: 16px;
}

.header-main{
    display: flex;
    flex-direction: column;
    width: 410px;
    margin-top: 110px;
    margin-left: 340px;
    gap: 6px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.header-links a,
.header-subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.header-sign-up{
    flex-shrink: 0;
}

.header-sign-up
button{
    background-color: #3882F6;
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    width: 100px;
}

.header-image{
    display: flex;
    justify-content: flex-end;
}

.header-image
img{
    height: 250px;
    width: 450px;
}