.header {
    background: #1F2937;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.header-links
a{
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.header-links a,
.header-subtitle{
    font-size: 18px;
    color: #E5E7EB;
}

.header-sign-up
button{
    background-color: #3882F6;
    color: white;
    border: none;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
    width: 5%;
}

.header-image
img{
    height: 250px;
    width: 450px;
}